VITE_API_BASE_URL=/api/v1
VITE_AUTH0_DOMAIN=dev-ole6i03kzvf3yb8z.us.auth0.com
VITE_AUTH0_CLIENT_ID=pZ0Uiv6Vgo47xte582Yx5YUzwjvVt1tK
VITE_AUTH0_AUDIENCE=https://civicresolve.example/api
VITE_AUTH0_STAFF_ORGANIZATION_ID=org_43G1B1RhPwac7EjS
